/* CSS HEX */
Colors {
  --oxford-blue: #0a1128ff;
  --royal-blue-dark: #001f54ff;
  --indigo-dye: #034078ff;
  --cg-blue: #1282a2ff;
  --white: #fefcfbff;
}



* {
  box-sizing: border-box;
}

html {
  margin: 0px;
  min-height: 100%;
  width: 100%;

}

main {
  min-height: 100vh;
  display: flex;
  margin: 5px;
}

.mainBody {
  margin: 0px;
  min-height: 100%;
  width: 100%;
  background: linear-gradient(to bottom left, #034078ff, #fefcfbff, #001f54ff)
}

/* Navbar Styling*/

.jumbotron {
  background-color: #5e7790 !important;
  width: 100%;
  padding: 32px !important;
  
}


.btn {
  width: 80px;
  margin: .25rem
}


.glow-on-hover {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #fff;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #1282a2ff, #fefcfbff, #034078ff, #1282a2ff, #0a1128ff, #002bff, #1282a2ff, #fefcfbff, #001f54ff);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #fff
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #fff;
  left: 0;
  top: 0;
  border-radius: 10px;
}

/*
nav {
  width: 100%;
}

a.navbar-brand {
  font-size: 2.625rem;
}

a.nav-link {
  font-size: 1.75rem;
}
*/

/* About Me*/

.headshot {
  border-radius: 25%;
}

/* Portfolio Page */

.projectCont {
  overflow: auto;
}

.img-container {
  position: relative;
  display: inline-block;
}

.img-container .overlay {
  position:absolute;
  height: 100%;
  width: 26.25rem;  
  opacity:0;
  transition:opacity 500ms ease-in-out;
}

.projectImg {
  width: 26.25rem;
  border-radius: 2%;
}

.overlay:hover {
  position:absolute;
  background:  #fefcfbff;
  opacity: 0.90;
  border-radius: 2%;

}

a.appLink:hover {
  transition:font-size 500ms ease-in-out;
  font-size: 1.25rem;
}


.appLink {
  color: black;
  text-decoration: none !important;
}

.appLink:hover {
  color: #001f54ff; 
 
  text-decoration:none; 
  cursor:pointer;  
}

/* Contact */

.contactCont {
  overflow: auto;
}

form {
  width: 40%;
}

input {
  font-size: 1rem;
  padding: 0.25rem;
  border: 1px solid var(--dark);
  outline: none;
  border-radius: 3px;
  transition: box-shadow 0.2s;
}

input:focus {
  border: 1px solid var(--secondary);
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5);
}

textarea {
  width: 350px;
  height: 300px;
  border: 3px solid #cccccc;
  padding: 5px;
}

/* Footer Styling */

.footer {
flex-shrink: 0;
}



  
