/* CSS HEX */
Colors {
  --oxford-blue: #0a1128ff;
  --royal-blue-dark: #001f54ff;
  --indigo-dye: #034078ff;
  --cg-blue: #1282a2ff;
  --white: #fefcfbff;
}



* {
  box-sizing: border-box;
}

html {
  margin: 0px;
  min-height: 100%;
  width: 100%;

}

main {
  min-height: 100vh;
  display: flex;
  margin: 5px;
}

.mainBody {
  margin: 0px;
  min-height: 100%;
  width: 100%;
  background: linear-gradient(to bottom left, #034078ff, #fefcfbff, #001f54ff)
}

/* Navbar Styling*/

.jumbotron {
  width: 100%;
  padding: 32px !important;
  
}

.btn {
  width: 80px;
  margin: .75rem

}

/*
nav {
  width: 100%;
}

a.navbar-brand {
  font-size: 2.625rem;
}

a.nav-link {
  font-size: 1.75rem;
}
*/

/* About Me*/



/* Portfolio Page */

.projectCont {
  overflow: auto;
}

.img-container {
  position: relative;
  display: inline-block;
}

.img-container .overlay {
  position:absolute;
  height: 100%;
  width: 26.25rem;  
  opacity:0;
  transition:opacity 500ms ease-in-out;
}

.projectImg {
  width: 26.25rem;
  border-radius: 2%;
}

.overlay:hover {
  position:absolute;
  background:  #fefcfbff;
  opacity: 0.90;
  border-radius: 2%;

}

a.appLink:hover {
  transition:font-size 500ms ease-in-out;
  font-size: 1.25rem;
}


.appLink {
  color: black;
  text-decoration: none !important;
}

.appLink:hover {
  color: #001f54ff; 
 
  text-decoration:none; 
  cursor:pointer;  
}


/* Footer Styling */

.footer {
flex-shrink: 0;
}



  
